* {
    font-family: "Georgia";
    display: block;
}
header {
    background-color: #824555;
    color:white;
    text-align: center;
    padding: 20px;
}
.c1 {
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
    float: left;
}

#s3 {
    background-color: #A26475;
    color: white;
    width: 40%;
    height: 300px;
    text-align: right;
    float: right
}
main>section {
    background-color: #F0EAE2;
    padding: 50px;
}

footer{
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}


li {
    list-style-type: square;
}

#b1 {
    background-color: red;
}
#b2 {
    background-color: green;

}
#b3 {
    background-color: blue;
}
#b1, #b2, #b3 {
    padding: 5px;;
}
