body {
    background-color: black;
}
h1 {
    font-family: "Arial Rounded MT Bold";
    color: white;

}
 p {
     font-family: "Arial";
     color: white;
 }

 nav {
     color: white;
 }

 footer {
     color: white;
 }
 ul {
     color: mediumpurple;
 }
 li {
     font-size: large;
 }

#btn {
    border: 5px solid darkorange;
    font-size: 17px;
}